@charset "utf-8"

@import url('https://fonts.googleapis.com/css2?família=Bebas+Neue&display=swap');
      
@font-face {
        font-family: 'idroid';
        src: url('fontes/idroid.otf') format('opentype'); 
        }
    
    }
    body{
    background-color: #c5ebd6;
}
    .menu{
    background-image: linear-gradient(to bottom, #42af58, #57c76d, #5bac6d, #367e46, #2b853d);
    margin: auto;
    padding: auto;
    margin-top: 0px;
    margin-left: -10px;
    margin-right: -11px;
    width: auto;
    justify-content: space-between;
    margin-top: -21px;
}
    

    .header{
    font-family: 'Bebas Neue','Arial', 'Helvetica', 'sans-serif';
    font-weight: bold;
}
    .header-bg{
    
    color: white;
    text-align: center;
}
    .menu{
    color: white;
}
    .header-menu{    
    display: inline-flex;
    gap: 50px;
   left: 0px;
   color: white;
}
    a{
    color: white;
    list-style: none;
    display: flex;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
    .conteudo{
    background-color: white;
    height: 2690px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    
    
}
    h1{
    color: rgb(12, 116, 38);
    font-family: 'idroid';
    margin-left: auto;
    padding: 20px;
    width: auto;
    margin-top: 0px;
    margin-bottom: -21px;

    }
    h2{
        color: rgb(12, 116, 38);
        font-family: 'idroid';
        background-image: linear-gradient(to right, #5da56a71, white);
        margin-left: 20px;
        width: auto;
    }
    h3{
        
    color: white;
    background-color: rgb(12, 116, 38);
    width: 720px;
    height: 30px;
    padding: 20px;
    border-top-left-radius: 7%;
        border-top-right-radius: 7%;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;

    margin: auto;
    
    margin-top: 10px;
    }

    p{
    text-indent: 40px;
    margin-left: 18px;
    font-size: 18px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif
    }
    img{
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
        
        
    }
    iframe{
        border: 50px;
        border-style: solid;
        border-color: rgba(29, 83, 31, 0.733);
    }
    .tabela{
        list-style: none;
        background-color: #B3D6C2;
        text-indent: 40px;
    margin-left: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    margin-top: -18px;
    border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
        padding: 24px;
    }